/*@import url("/fonts/Vollkorn-Regular.ttf");*/
/*@import url("/fonts/Vollkorn-Italic.ttf");*/
/*@import url("/fonts/slick.ttf");*/
/*@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.woff");*/
/*@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.svg");*/
/*@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.eot"s);*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css");
@import url('react-medium-image-zoom/dist/styles.css');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Volkorn';
    font-weight: normal;
    font-style: normal;
    src: url(/fonts/Vollkorn-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Volkorn';
    font-weight: normal;
    font-style: italic;
    src: url(/fonts/Vollkorn-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'Slick';
    font-weight: normal;
    font-style: normal;
    src: url(/fonts/slick.ttf) format("truetype");
}

body {
    background-color: #EFEFEF;
}

.main {
    margin: 0 auto;
    /*max-width: 1440px;*/
    width: 1440px;
    background-color: #FFF;
    /*color: #676667;*/
    color: #4A4A4A;
}

.row {
    padding: 5rem 2.5rem 0 2.5em;
    margin: 0 auto;
}

.col1 {
    /*width: 24.60%;*/
    width: 247px;
    float: left;
}

.col2 {
    float: left;
    width: 650px;
    margin: 0 108px 0 108px;
    /*width: 50.78125%;*/
    /*max-width: 650px;*/
}

.col3 {
    /*width: 24.60%;*/
    float: left;
    width: 247px;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.clear {
    clear: both;
    content: '';
    display: block;
}

.ibm-link {
    /*list-style: none;*/
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    margin-left: 24px;
}
.ibm-link p {
    font-size: 1rem;
}
.ibm-link a {
    text-decoration: none;
    color: #4A90E2;
}
.ibm-link a:hover {
    color:#E91E63;
}

/*360, 400, 480, 600, 720, 840, 960, 1024, 1280, 1440*/

/*@media screen and (max-width: 400px){*/
    /*html {*/
        /*font-size: 11px;*/
    /*}*/
    /*.col1, .col3{*/
        /*display:none;*/
    /*}*/
    /*.col2 {*/
        /*width: 100%;*/
        /*float: left;*/
    /*}*/
    /*.row {*/
        /*padding: 2rem 2rem 0 2rem;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 401px) and (max-width: 960px){*/
    /*html{*/
        /*font-size: 13px;*/
    /*}*/
    /*.col1, .col3 {*/
        /*display: block;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 960px) and (max-width: 1024px) {*/
    /*html{*/
        /*font-size: 14px;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 1024px) and (max-width: 1280px) {*/
    /*html{*/
        /*font-size: 15px;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 1280px){*/
    /*html{*/
        /*font-size: 16px;*/
    /*}*/
/*}*/